
.nav-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-background-radius: 20;
    -fx-padding: 6 18;
    -fx-cursor: hand;
}

/* Hover effect */
.nav-btn:hover {
    -fx-background-color: #2979FF;
    -fx-text-fill: white;
}

/* Active button */
.nav-btn-active {
    -fx-background-color: #2979FF;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 6 18;
}


.right-image {
     -fx-translate-y: -150px;
     -fx-translate-x: 40px;
 }



