    -fx-background-color: #0E0E0E;
}

.navbar {
    -fx-background-color: #000000;
}

.logo-white {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.logo-blue {
    -fx-font-weight: bold;
}

    -fx-background-color: transparent;
    -fx-text-fill: white;
}

    -fx-text-fill: white;
    -fx-background-radius: 25;
}

    -fx-text-fill: white;
    -fx-background-radius: 50;
}

    -fx-text-fill: white;
    -fx-font-weight: bold;
}

    -fx-text-fill: #B0B0B0;
}

    -fx-background-color: #2979FF;
    -fx-text-fill: white;
    -fx-padding: 15 40;
    -fx-background-radius: 10;
}
