/* ---------- MAIN LAYOUT ---------- */
.main-bg {
    -fx-background-color: #0E0E0E;
}

.navbar {
    -fx-background-color: #000000;
}

/* ---------- LOGO TEXT ---------- */
.logo-white {
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.logo-blue {
    -fx-text-fill: #2F80ED;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

/* ---------- NAV BUTTONS ---------- */
.btn-nav {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.btn-nav-active {
    -fx-background-color: #2F80ED;
    -fx-text-fill: white;
    -fx-background-radius: 25;
    -fx-font-size: 15px;
    -fx-padding: 6 18;
}

.btn-cart {
    -fx-background-color: #2F80ED;
    -fx-text-fill: white;
    -fx-background-radius: 50;
    -fx-font-size: 20px;
    -fx-padding: 4 12;
}

/* ---------- SECTION ---------- */
.section-title {
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

.section-subtitle {
    -fx-text-fill: #B0B0B0;
    -fx-font-size: 20px;
}

/* ---------- PRIMARY BUTTON ---------- */
.btn-primary {
    -fx-background-color: #2979FF;
    -fx-text-fill: white;
    -fx-padding: 15 40;
    -fx-font-size: 18px;
    -fx-background-radius: 10;
}
